[data-theme="dark"] .home {
	background: rgb(38, 45, 49);
	border-bottom-color: #056162;
}

[data-theme="dark"] .home__title {
	color: rgba(241, 241, 242, 0.88);
}

[data-theme="dark"] .home__text {
	color: rgb(166, 168, 170);
}

[data-theme="dark"] .home__text:first-of-type {
	border-bottom-color: rgba(241, 241, 242, 0.11);
}

[data-theme="dark"] .home__link {
	color: rgb(0, 175, 156);
}
